/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Encabezado con logo */
header {
    background-color: #005C8D; /* Azul Corporativo */
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

/* Sección del formulario */
.form-section {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #005C8D;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003F62;
}

/* Sección de búsqueda */
.search-section {
    padding: 10px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-section input {
    width: 100%;
}

/* Estilo de la lista de personas */
.person-list {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.person-card {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person-card h3 {
    margin: 0;
    font-size: 1.2em;
}

.person-card .person-details {
    display: none;
    padding: 10px;
}

.person-card .actions button {
    margin-top: 5px;
    padding: 5px;
}

.person-card .red {
    color: red;
}

.person-card .yellow {
    color: yellow;
}

button.warning-btn {
    background-color: red;
    color: white;
}

button.search-btn {
    background-color: yellow;
    color: black;
}

button.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

/* Añadir transiciones suaves */
button, .person-card {
    transition: all 0.3s ease;
}

button:hover, .person-card:hover {
    opacity: 0.9;
}
